@{
    ViewData["Title"] = "Friendships";
}
<h2 class="text-info">@ViewData["Title"]</h2>

<pre>“Relationships are all there is. Everything in the universe only exists because it is in relationship to everything else. 
Nothing exists in isolation. We have to stop pretending we are individuals that can go it alone.” – Margaret J. Wheatley -</pre>
